body{
    margin:0;
    padding:0;
}
header{
    background: #555;
    padding: 10px 16px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav ul a{
    padding-left: 10px;
    margin: 0.5rem;
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-style: double;
}
nav{
    display: flex;
    justify-content: center;
}
.main{
    padding: 16px;
    margin-top: 60px;
}
.title{
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: gold;
    margin-right: 80%;
    z-index: 2;
}
img{
    border-radius: 50%;
}
.background{
    color:black;
    text-align: center;
    background-color: rgb(161, 161, 161, 0.5);
    padding: 2rem;
    width: 75vw;
    height: 35vw;
    border-radius: 24px;
    border-style: double;
    backdrop-filter: blur(1.2px);
    z-index: 2;
}
.Circles{
    position: relative;
    margin-top: 250px;
    position: fixed;
    opacity: 0.5;
}
.Circle1{
    width: 100px;
    height: 100px; 
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    z-index: 1;
}
.Circle2{
    width: 275px;
    height: 275px; 
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    margin-left: 300px;
    margin-bottom: 700px;
    z-index: 1;
}
.Circle3{
    width: 225px;
    height: 225px;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 30px;
    z-index: 1;
}
.Circle4{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    margin-left: 750px;
    margin-top: 200px;
    z-index: 1;
}
.Cirlce5{
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    margin-left: 1000px;
    margin-top: 100px;
}
.Profile{
    display: flex;
    text-align: center;
    margin-top: 30px;
}
.Profile p{
    padding-left: 35px;
    font-size: 35px;
    z-index: 2;
}
.info{
    margin-top: 9%;
    text-align: start;
    font-size: 20px;
}
.line{
    height:90%;
    width: 2px;
    background-color: black;
    margin-left: 7%;
    margin-top: 3%;
}
.experiences p{
    display: flex;
    font-size: 20px;
}